@using Snorehammer.Web.Components.Simulation
@using Snorehammer.Web.Components.Simulation.DiceRoller
@using Snorehammer.Web.FrontendModels
@using Snorehammer.Web.Services

<RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto">
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H6" class="rz-display-flex rz-align-items-center rz-m-0">
            <RadzenIcon Icon="casino" class="rz-me-1" /><b>@Title</b>
        </RadzenText>
    </HeaderTemplate>
    <ChildContent>
        <RadzenRow>
            <RadzenColumn Size="6">
                <h3>
                    @RollString1
                </h3>
            </RadzenColumn>
            <RadzenColumn>
                <h3> @RollString2</h3>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            @foreach (var die in sim.AttackDice)
            {
                <div class="col-1">

                    <DieDisplay die="@die"></DieDisplay>
                </div>
            }
        </RadzenRow>
    </ChildContent>
    <SummaryTemplate>
        <RadzenCard class="rz-mt-4">
            <RadzenRow>
                <RadzenColumn Size="6">
                    <h3>
                        Rolling: @sim.AttackProfile.VariableAttackDiceNumber
                        d @sim.AttackProfile.VariableAttackDiceSides
                        + @sim.AttackProfile.VariableAttackDiceConstant
                        @if (sim.BlastBonus > 0)
                        {
                            <span> + @sim.BlastBonus</span>
                        }
                    </h3>
                </RadzenColumn>
                <RadzenColumn>
                    <h3> Total: @sim.AttackNumber</h3>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </SummaryTemplate>
</RadzenPanel>
@code{
    [Parameter]
    public FightSimulation sim { get; set; }
    [Parameter]
    public string RollString1 { get; set; }
    [Parameter]
    public string RollString2 { get; set; }
    [Parameter]
    public string Title { get; set; }
}